@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,300&family=Poppins:wght@300&display=swap');

:root{
    --cor-primaria: #F9F5EB;
    --cor-secundaria: #E4DCCF;
    --cor-texto--pricinpal: #EA5455;
    --cor-texto-secundaria: #002B5B;
}

body {
    background-color: var(--cor-primaria);
    height: 100vh;
    box-sizing: border-box;
}


.titulo__destaque {
    color:aqua;

}

.pagina__principal {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__principal { 
    width: 615px;
}

.titulo__principal {
    color: var(--cor-texto--pricinpal);
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
}

.titulo__destaque{
    color: var(--cor-texto-secundaria)
}
.texto__principal {
    color: var(--cor-texto-secundaria);
    font-size: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    padding: 5% 0% 5% 0%;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.texto__link {
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundaria);
    width: 200px;
    font-size: 1.56rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 21.5px 0;
    border-radius:  16px;
}

.cabecalho__principal{
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    gap: 40px;
    padding: 2% 0% 2% 0%; 
}

.cabecalho__texto{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: var(--cor-texto--pricinpal);
    text-decoration: none;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 2% 0% 2% 0%; 
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: var(--cor-texto--pricinpal);
}

.lista{
    list-style: square;
    color: var(--cor-texto-secundaria);
    font-size: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
}